.mui-dropdown {
	display: inline-block;
	position: relative
}

[data-mui-toggle=dropdown] {
	outline: 0
}

.mui-dropdown__menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	/* min-width: 160px; */
	padding: 3px 0;
	margin: 2px 0 0;
	list-style: none;
	text-align: left;
	background-color: #FFF;
	border-radius: 2px;
	z-index: 1;
	background-clip: padding-box
}

.mui-dropdown__menu.mui--is-open {
	display: block
}

.mui-dropdown__menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.429;
	color: rgba(0, 0, 0, .87);
	text-decoration: none;
	white-space: nowrap
}

.mui-dropdown__menu>li>a:focus, .mui-dropdown__menu>li>a:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, .87);
	background-color: #EEE
}

.mui-dropdown__menu>.mui--is-disabled>a, .mui-dropdown__menu>.mui--is-disabled>a:focus,
	.mui-dropdown__menu>.mui--is-disabled>a:hover {
	color: #EEE
}

.mui-dropdown__menu>.mui--is-disabled>a:focus, .mui-dropdown__menu>.mui--is-disabled>a:hover
	{
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	cursor: not-allowed
}

.mui-dropdown__menu--right {
	left: auto;
	right: 0
}

.mui-form legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, .87);
	line-height: inherit;
	border: 0
}

.mui-form fieldset {
	border: 0;
	padding: 0;
	margin: 0 0 20px 0
}

.mui-select {
	display: block;
	padding-top: 2px;
	margin-bottom: 2px;
	position: relative
}

.mui-select:focus {
	outline: 0
}

.mui-select:focus>select {
	height: 33px;
	margin-bottom: -1px;
	border-color: #2196F3;
	border-width: 2px
}

.mui-select>select {
	display: block;
	height: 20px;
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .26);
	border-radius: 0;
	box-shadow: none;
	background-color: transparent;
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iNiIgd2lkdGg9IjEwIj48cG9seWdvbiBwb2ludHM9IjAsMCAxMCwwIDUsNiIgc3R5bGU9ImZpbGw6cmdiYSgwLDAsMCwuMjQpOyIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	color: rgba(0, 0, 0, .87);
	font-family: inherit;
	line-height: inherit;
	padding: 0 25px 0 0
}

.mui-select>select::-ms-expand {
	display: none
}

.mui-select>select:focus {
	outline: 0;
	height: 33px;
	margin-bottom: -1px;
	border-color: #2196F3;
	border-width: 2px
}

.mui-select>select:disabled {
	color: rgba(0, 0, 0, .38);
	cursor: not-allowed;
	background-color: transparent;
	opacity: 1
}

.mui-select>select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000
}

.mui-select>select:focus::-ms-value {
	background: 0 0;
	color: rgba(0, 0, 0, .87)
}

.mui-select>label {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	color: black;
	font-weight: 400;
	line-height: 15px;
	overflow-x: auto;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mui-select:focus>label, .mui-select>select:focus ~label {
	color: #2196F3
}

.mui-select__menu {
	position: static;
	z-index: 2;
	min-width: 100%;
	overflow-y: auto;
	padding: 8px 0;
	background-color: #FFF;
}

.mui-select__menu>div {
	padding: 0 22px;
	height: 42px;
	line-height: 20px;
	cursor: pointer;
	white-space: nowrap
}

.mui-select__menu>div.mui--is-selected {
	background-color: #EEE
}

.mui-select__menu>div.mui--is-disabled {
	color: rgba(0, 0, 0, .38);
	cursor: not-allowed
}

.mui-select__menu>div:not (.mui-optgroup__label ):not (.mui--is-disabled
	 ):hover {
	background-color: #E0E0E0
}

.mui-textfield {
	display: block;
	
	position: relative
}

.mui-textfield>label {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	color: rgba(0, 0, 0, .54);
	font-size: 12px;
	font-weight: 400;
	line-height: 10px;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.mui-textfield>textarea {
	
}

.mui-textfield>input:focus ~label, .mui-textfield>textarea:focus ~label
	{
	color: #2196F3
}

.mui-textfield--float-label>label {
	position: absolute;
	transform: translate(0, 15px);
	font-size: 16px;
	line-height: 32px;
	color: rgba(0, 0, 0, .26);
	text-overflow: clip;
	cursor: text;
	pointer-events: none
}

.mui-textfield--float-label>input:focus ~label,
	.mui-textfield--float-label>textarea:focus ~label {
	transform: translate(0, 0);
	font-size: 12px;
	line-height: 15px;
	text-overflow: ellipsis
}


.mui-textfield--wrap-label {
	display: table;
	width: 100%;
	padding-top: 0
}

.mui-textfield--wrap-label:not (.mui-textfield--float-label )>label {
	display: table-header-group;
	position: static;
	white-space: normal;
	overflow-x: visible
}

.mui-textfield>input, .mui-textfield>textarea {
	box-sizing: border-box;
	display: block;
	background-color: transparent;
	color: rgba(0, 0, 0, .87);
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .26);
	outline: 0;
	width: 100%;
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	font-size: 16px;
	font-family: inherit;
	line-height: inherit;
	background-image: none
}

.mui-textfield>input:focus, .mui-textfield>textarea:focus {
	border-color: #2196F3;
	border-width: 2px
}
