iframe {
	margin-top: 10px;
	margin-bottom: 30px;
    margin-left: 10px;
    -moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 4px 4px 14px #000;
	-webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000;
    width: 500px;
    height: 250px; 
}

